name: Run dlt + dbt pipeline

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  run-dlt-dbt:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run dlt pipeline
        run: |
          echo "Running dlt pipeline..."
          python extract_load/load_jobs.py

      - name: Debug dbt connection
        run: dbt debug --profiles-dir ~/.dbt

      - name: Run dbt models
        run: dbt run --profiles-dir ~/.dbt

      - name: Upload DuckDB database as artifact
        uses: actions/upload-artifact@v4
        with:
          name: duckdb-database
          path: ./data_warehouse/jobads.duckdb
