name: Run dlt + dbt pipeline

on:
  schedule:
  - cron: 0 3 * * *
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  run-dlt:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run dlt pipeline
        run: |
          echo "Running dlt pipeline..."
          python extract_load/load_jobs.py 2> dlt_error.log
          exit_code=$?
          if [ $exit_code -ne 0 ]; then
            echo "dlt pipeline failed. See dlt_error.log."
            exit $exit_code
          fi

      - name: Upload dlt error log (only if failed)
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: dlt-error-log
          path: dlt_error.log

      - name: Upload DuckDB database as artifact
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: duckdb-database-dlt
          path: ./data_warehouse/job_ads.duckdb
          
  run-dbt:
    needs: run-dlt
    runs-on: ubuntu-latest
    env:
      DBT_PROFILES_DIR: ../.dbt

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      
      - name: Download DuckDB database artifact
        uses: actions/download-artifact@v4
        with:
          name: duckdb-database-dlt
          path: ./data_warehouse 
        
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
        
      - name: Install dbt
        run: |
          pip install dbt-core dbt-duckdb

      - name: Run dbt models
        working-directory: ./dbt_analytics
        id: dbt_run
        run: |
          dbt run > dbt_run_error.log 2>&1

      - name: Upload dbt run logs
        if: steps.dbt_run.conclusion == 'failure'
        uses: actions/upload-artifact@v4
        with:
          name: dbt-run-error-logs
          path: ./dbt_analytics/dbt_run_error.log

      - name: Run dbt tests
        working-directory: ./dbt_analytics
        id: dbt_test
        run: |
          dbt test > dbt_test_error.log 2>&1

      - name: Upload dbt test logs
        if: steps.dbt_test.conclusion == 'failure'
        uses: actions/upload-artifact@v4
        with:
          name: dbt-test-error-logs
          path: ./dbt_analytics/dbt_test_error.log

      - name: Upload DuckDB database as artifact
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: duckdb-database-dbt
          path: ./data_warehouse/job_ads.duckdb


  build-and-push:
    needs: [run-dlt, run-dbt]
    runs-on: ubuntu-latest
 
    steps:
      - name: Check repository
        uses: actions/checkout@v4

      - name: Download DuckDB database artifact
        uses: actions/download-artifact@v4
        with:
          name: duckdb-database-dbt
          path: ./data_warehouse
 
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
 
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
 
      - name: Build and push to Docker Hub
        id: docker_build
        run: |
          {
            docker buildx build \
              --push \
              --file ./Dockerfile \
              --tag antonbackeus/hranalyticsdashboard:latest \
              --tag antonbackeus/hranalyticsdashboard:1.${{ github.run_number }} \
              . 
          } 2> docker_error.log

      - name: Upload Docker build logs
        if: failure() && steps.docker_build.outcome == 'failure'
        uses: actions/upload-artifact@v4
        with:
          name: docker-build-error-logs
          path: docker_error.log
